.row
    .small-12.medium-6.large-6.small-centered.medium-centered.large-centered.columns
        h1 Search
.row
    .small-12.medium-6.large-6.small-centered.medium-centered.large-centered.columns

.row
    .small-12.medium-6.large-6.small-centered.medium-centered.large-centered.columns


