.row
    .small-12.medium-6.large-6.small-centered.medium-centered.large-centered.columns
        dl.sub-nav
            dt Filter :
            dd.subnavToggle
                a(href='#', data-rv-clickargs='view.sortBy distance') Distance
            dd.subnavToggle
                a(href='#', data-rv-clickargs='view.sortBy rating') Rating
.row
    .small-12.medium-6.large-6.small-centered.medium-centered.large-centered.columns
        #map-canvas

.row
    .small-12.medium-6.large-6.small-centered.medium-centered.large-centered.columns


