.row
    .small-12.medium-6.large-6.small-centered.medium-centered.large-centered.columns
        h1(data-rv-text="model:cuisinetitle")

.row
    .small-12.medium-6.large-6.small-centered.medium-centered.large-centered.columns
        img.listingImage(data-rv-if="model:listingImage" data-rv-src="model:listingImage")

.row
    .small-12.medium-6.large-6.small-centered.medium-centered.large-centered.columns
        ul.button-group
            li
                a.button Directions
            li
                a.button Contact

.row
    .small-12.medium-6.large-6.small-centered.medium-centered.large-centered.columns
        h3(data-rv-text="model:price | asDollars")

.row
    .small-12.medium-6.large-6.small-centered.medium-centered.large-centered.columns
        div(data-rv-text="model:locationnotes")



