
@import "vendor/fontawesome/scss/font-awesome.scss";
@import "vendor/foundation/scss/foundation";
@import "variables";
@import "colors";
@import "views/**/*";



html, body {
  color:$text-color;
  background:url(assets/images/portland.jpg);
  background-size: cover;
  #stage {
    background-color: rgba(0, 0, 0, 0.4);
    background: rgba(0, 0, 0, 0.4);
  }
  .sub-nav {
    margin-bottom:0px;
  }
  .sub-nav dt.active a:hover, .sub-nav dd.active a:hover, .sub-nav li.active a:hover {
    background:$subnavbgcolorhover;
  }
  .sub-nav dt.active a, .sub-nav dd.active a, .sub-nav li.active a {
    border-radius: 0;
    background:$subnavbgcolor;
  }

  .standout {
    background: $blue;
    padding: 5px;
  }

  .listingImage {
    border:1px solid $blueGray;
  }

  .button{
    background-color: $button-bg;
    &:hover, &:focus, &:hover, &:focus {
      background-color: $button-alt-bg;
    }
    &.alt1 {
      background-color: $button-alt1;
      &:hover, &:focus, &:hover, &:focus {
        background-color: $button-alt1-bg;
      }
    }
  }
  .full-width {
    width:100%;
  }
  h1,h2,h3,h4,h5,h6 {
    color:$text-color;
  }
  i {
    font-size:2em;
    text-shadow : 0px 1px 3px #000;
  }
}
