// Primary Palette
$orange: #FF7148;
$red: #EC583A;
$white: #F5F5F5;
$blue: #93B1C6;
$gray: #C7D0D5;
$blueGray: rgb(129, 136, 141);

// Site Wide
$text-color: $blueGray;

// Header
$header-text: $blueGray;
$header-button-bg: $orange;
$header-active-button:$blue;