.row
    .small-12.medium-6.large-6.small-centered.medium-centered.large-centered.columns
        h1 Home
.row
    .small-12.medium-6.large-6.small-centered.medium-centered.large-centered.columns
        a.button.alt1.full-width.homeButton(href="/search")
            h3 EAT
.row
    .small-12.medium-6.large-6.small-centered.medium-centered.large-centered.columns
        a.button.alt1.full-width.homeButton(href="/vendor")
            h3 LIST

