.row
    .small-12.medium-6.large-6.small-centered.medium-centered.large-centered.columns
        h1(data-rv-text="model:lang->home")
.row
    .small-12.medium-6.large-6.small-centered.medium-centered.large-centered.columns
        a.button.alt1.full-width.homeButton(href="/search")
            h3(data-rv-text="model:lang->eat")
.row
    .small-12.medium-6.large-6.small-centered.medium-centered.large-centered.columns
        a.button.alt1.full-width.homeButton(href="/vendor")
            h3(data-rv-text="model:lang->feed")

