#headerContainer.contain-to-grid.sticky
    nav.top-bar(data-topbar,data-options="sticky_on: large")
        ul.title-area
            li.name
                h1
                    a(href="#") ChompRomp
            li.toggle-topbar.menu-icon
                a(href="#")
                    span Menu
        section.top-bar-section
            ul.right
                li
                    a(href="#") Sign In / Register

            ul.left
                li.has-form
                    .row.collapse
                        .large-8.small-9.columns
                            input(type="text", placeholder="Tamales, Lasagna, Burgers, Mexican, Chinese")
                        .large-4.small-3.columns
                            a.alert.button.expand(href="#") Search


